<!DOCTYPE html>
<html>
<head>
	<title>My flower app</title>
	<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='styles/app.css')}}">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body
style="color: hotpink">

	<nav>
		<ul>
			<li>Food Finder</li>
			<li><a href="https://github.com/Escanor1996/model_deployment">Github</a></li>
		</ul>
	</nav>
	<div class="body">
		
		<img src="{{url_for('static',filename='images/pytorch-logo.png')}}" alt="pyy">
		<h2>Upload your food image</h2>
		<form method="POST" enctype=multipart/form-data style="color: fuchsia">
			<input type="file" name="file">
			<input type="submit" name="upload">
		</form>
	</div>
    <div>
		<p style="margin-top:90px;
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: darkmagenta
	">
			@Made with Pytorch and love
		</p>
	</div>
</body>
</html>