<!DOCTYPE html>
<html lang="en">
<head>
  <title>Identify this fruit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Fruit 360</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>Looking for the name of a fruit??</h1>      
    <p>Have the image of the fruit....</p>
  </div>
  <div align='center'>
    <p>Upload Image.. </p> 
      <form method="POST" enctype=multipart/form-data style="color: gray" action="/result">
      <input type="file" name="file">
            <button type="button" class="btn btn-primary" id="submit">Submit</button>
    </form>
  </div>
</div>
